

$el-bg-font-color: #fff;
$el-warn-bgc: #c7e4ea;
$el-warn-bgc-hover: #6dc58b;
$el-warn-bgc-current: #6dc58b;
$el-font-cell-color: #000;
html.light {
    /* 自定义浅色色背景颜色 */
    --el-bg-font-color: #fff;
    --el-bg-font-color: #fff;
    --el-warn-bgc: #c7e4ea !important;
    --el-warn-bgc-hover: #6dc58b !important;
    --el-warn-bgc-current: #6dc58b !important;
    --el-bot-bgc: #f9f9f9 !important;
    --el-tab-bgc: #217E8C!important;
    --el-warn-row-bgc:#4ba8b6 !important;
    --border-color: #ebeef5;
    .el-table tr th .cell {
        color: $el-bg-font-color;
    }
    .el-table__row.warnBg .el-table__cell{
        width: 100%;
        height: 100%;
        background-color: $el-warn-bgc ;
        color: $el-font-cell-color;
    }
    .el-table__row:hover .el-table__cell {
        background-color: $el-warn-bgc-hover !important; 
    }
    .el-table__body tr:hover > td {
        background-color: $el-warn-bgc-hover ;
    }
    .el-table__body tr.current-row > td {
        background-color:$el-warn-bgc-current ;
    }
}

