

html.light {
    /* 自定义浅色色背景颜色 */
    --el-bg-font-color: #fff;
    --el-warn-bgc: #c7e4ea !important;
    --el-warn-bgc-hover: #6dc58b !important;
    --el-warn-bgc-current: #6dc58b !important;
    --el-bot-bgc: #f9f9f9 !important;
    --el-tab-bgc: #217E8C!important;
}
